<div class="navbar-margin-bottom-edit">
  <div class="container mt-5 w-50 bg-white rounded p-5 border bg-transparent text-white">
    <h2>Modifier Profil</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :company, label: 'Société' %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, label: 'Mot de passe',
                    hint: "ne rien inscrire si vous ne voulez pas le changer",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: 'Confirmer votre mot de passe',
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password, label: 'Mot de passe actuel',
                    hint: "nous avons besoin de votre mot de passe actuel pour valider les changements",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Valider", class:'btn btn-primary' %>
        <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr?" }, method: :delete, class:'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
