<div class="navbar-margin-bottom-show">
  <div class="show-user-container">
    <div class="card-container-show">
      <div class="super-hero-cards-title">
        <% if current_user.company != "" %>
          <%= link_to 'Ajouter un Super Héros',  new_super_hero_path, class:'btn btn-outline-success btn-lg' %>
        <% else %>
          <%= link_to 'Vous devez avoir une entreprise pour créer un Super Héros', edit_user_registration_path, class:'btn btn-outline-success btn-lg' %>
        <% end %>
      </div>

      <div class="super-heros-cards">    
        <% current_user.super_heros.each do |super_hero| %>
          <div class="card">
            <h1 class="hero_name"><%= super_hero.nickname %></h1>
            <p class="price"><%= super_hero.price_cents %>€/jour</p>
            <p class="punchline"><%= super_hero.punchline %></p>
            <% if super_hero.photo.attached? %>
              <%= cl_image_tag super_hero.photo.key, alt: "alttext", :class => 'avatar' %>
            <% else %>
              <%= cl_image_tag "unknow_ztlmbc", alt: "alttext", :class => 'avatar' %>
            <% end %>
            <div class="edit_delete_superhero">
              <%= link_to edit_super_hero_path(super_hero),class:'btn text-primary edit_super' do %>
                <i class="fas fa-user-edit"></i>
              <% end %>
              <%= link_to super_hero_path(super_hero),class:'btn text-danger delete_super', method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="container-bookings">
      <div class="booking-show">
        <h1>Vos réservations</h1>
        <% current_user.bookings.each do |booking| %>
          <div class="card-booking">
            <p class="super-hero-booked"><%= booking.super_hero.nickname %></p>
            <p class="booking-date">De <%= booking.get_date(booking.starting_date) %></p>
            <p class="booking-date">A <%= booking.get_date(booking.ending_date) %></p>
            <p class="booking-price">Prix : <%= booking.total_price %>$</p>
            
            <div class="edit_delete_booking">
              <%= link_to edit_booking_path(booking),class:'btn text-primary edit_super' do %>
                <i class="fas fa-user-edit"></i>
              <% end %>
              
              <%= link_to booking_path(booking),class:'btn text-danger delete_super', method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
