<div class="navbar-margin-bottom-show">
  <div class="container-fluid">
    <div class="card-container-show">
      <% current_user.super_heros.each do |super_hero| %>
        <a href="<%= super_hero_path(super_hero) %>">
          <div class="card">
            <h1 class="hero_name"><%= super_hero.nickname %></h1>
            <p class="price"><%= super_hero.price_cents %>$</p>
            <p class="punchline"><%= super_hero.punchline %></p>
            <% if super_hero.photo.attached? %>
              <%= cl_image_tag super_hero.photo.key, alt: "alttext", :class => 'avatar' %>
            <% else %>
              <%= cl_image_tag "unknow_ztlmbc", alt: "alttext", :class => 'avatar' %>
            <% end %>
            <div class="edit_delete_superhero">
              <%= link_to edit_super_hero_path(super_hero),class:'btn text-primary edit_super' do %>
                <i class="fas fa-user-edit"></i>
              <% end %>

              <%= link_to super_hero_path(super_hero),class:'btn text-danger delete_super', method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>

  <div class="container text-center">
      <% if !current_user.company.nil? %>
        <%= link_to 'Create Super Hero',  new_super_hero_path, class:'btn btn-outline-success btn-lg' %>
      <% end %>
  </div>

  <div class="container-bookings">
    <div class="booking-show">
      <h1>Your bookings</h1>
      <% current_user.bookings.each do |booking| %>
        <a href="<%= super_hero_path(booking) %>">
          <div class="card-booking">
            <p><%= booking.get_date(booking.starting_date) %></p>
            <p><%= booking.get_date(booking.ending_date) %></p>
            <div class="edit_delete_booking">
              <%= link_to edit_booking_path(booking),class:'btn text-primary edit_super' do %>
                <i class="fas fa-user-edit"></i>
              <% end %>
              <%= link_to booking_path(booking),class:'btn text-danger delete_super', method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>

</div>
