<div class="container">
  <h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
  <h2><%= current_user.email %></h2>
  <h2><%= current_user.company %></h2>

  <%= link_to "Edit Profil", edit_user_registration_path %>
  <% if !current_user.company.nil? %>
    <%= link_to 'Create Super Hero',  new_user_super_hero_path(current_user.id) %>
  <% end %>
</div>
