<nav class="navbar justify-content-between fixed-top">
  <a class="navbar-brand logo_navbar" href="/"><%= image_tag "logo.png", alt: "Logo", width: 50 %></a>
  <form class="form-inline">
    <% if current_user %>
      <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user), class: 'user_loggin' %>
    <% end %>

    <input class="btn-nav form-control mr-sm-2" type="search" placeholder="Superhero landing" aria-label="Search">
    <button class="btn-nav btn-nav-blue" type="submit">Search</button>
    <%= link_to "Login", user_session_path, class: 'btn-nav btn-nav-blue mx-2 my-2 my-sm-0' %>

    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, class: 'btn btn-font-logout btn-outline-danger', method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn-nav btn-nav-blue' %>
    <% end %>
  </form>
</nav>
