<div class="index_style">
  <div class="card-container">
    <% @super_heros.each do |super_hero| %>
      <a href="<%= super_hero_path(super_hero) %>">
        <div class="card">
          <h1 class="hero_name"><%= super_hero.nickname %></h1>
          <p class="price"><%= super_hero.price_cents %>$</p>
          <p class="punchline"><%= super_hero.punchline %></p>
          <% if super_hero.photo.attached? %>
            <%= cl_image_tag super_hero.photo.key, alt: "alttext", :class => 'avatar' %>
          <% else %>
            <%= cl_image_tag "unknow_ztlmbc", alt: "alttext", :class => 'avatar' %>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>

  <div
    id="map"
    style="height: 100vh; width: 40%;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
