<div class="container">
  <div class="row mt-5 rounded">
    <div class="col-6 m-auto bg-white p-4">
    <h1 class="mb-5">Add a Super Heros</h1>
      <%= simple_form_for [ @super_hero ] do |f| %>
        <%= f.input :nickname %>
         <%= f.input :description %>
        <%= f.submit "Submit", class: "btn btn-success" %>
        <%= link_to "Cancel", user_path(current_user), class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
