<!DOCTYPE html>
<html>
  <head>
    <title>MyRentalHero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://1n0g9sqmedx94.wpcdn.shift8cdn.com/wp-content/uploads/tdomf/229518/1311600755035.jpg);">
      <div class="container">
        <h1>Hero Renter</h1>
        <p>Change your life rent a Hero !!!</p>
        <a class="btn btn-success" href="#">Rent Now</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
