<!DOCTYPE html>
<html>
  <head>
    <title>My Rental Hero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar justify-content-between fixed-top">
      <a class="navbar-brand"><%= image_tag "logo.png", alt: "Logo", width: 50 %></a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Hero" aria-label="Search">
        <button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Login</button>
      </form>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
